<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>ImageHandeling</filter-name>
        <filter-class>Filter.ImageHandeling</filter-class>
    </filter>
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>Filter.Authentication</filter-class>
    </filter>
    <filter>
        <filter-name>AdminAuthentication</filter-name>
        <filter-class>Filter.AdminAuthentication</filter-class>
    </filter>
    <filter>
        <filter-name>AdminRedirect</filter-name>
        <filter-class>Filter.AdminRedirect</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminRedirect</filter-name>
        <servlet-name>OrderController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminRedirect</filter-name>
        <servlet-name>AdminController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminRedirect</filter-name>
        <servlet-name>ProductController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminRedirect</filter-name>
        <servlet-name>AccountController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthentication</filter-name>
        <servlet-name>HomeController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>HomeController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ImageHandeling</filter-name>
        <servlet-name>ProductController</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>Controllers.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controllers.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controllers.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>Controllers.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>Controllers.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPass</servlet-name>
        <servlet-class>ForgotPassword.ForgotPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePass</servlet-name>
        <servlet-class>ForgotPassword.UpdatePass</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ValidateOTP</servlet-name>
        <servlet-class>ForgotPassword.ValidateOTP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/Account/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/Product/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/Admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/Order/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPass</servlet-name>
        <url-pattern>/ForgotPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePass</servlet-name>
        <url-pattern>/UpdatePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOTP</servlet-name>
        <url-pattern>/ValidateOTP</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
